{% extends 'base.html.twig' %}

{% block body %}
<h1>Hennessey Venom GT</h1>
 <article>
 	<h2>Krótki opis: </h2>
 	<p>
 		 W 2014 roku kłaniamy się nowemu królowi. Został nim Hennessey Venom GT, który długo walczył o tron, aż w końcu się udało. Amerykańska konstrukcja jest obecnie najszybszym samochodem na świecie.
		 „Lotusowate” nadwozie kryje w sobie podwójnie doładowane V8 o pojemności 7 litrów. Motor rozwija aż 1244 KM. Samochód waży tylko 1220 kg. Przyspieszenie do „stówki” wynosi 2.4 sekundy, natomiast rozpędzenie się do 322 km/h zajmuje Venomowi... 14.3 sekundy.
		 Wielki szacunek dla konstruktorów tej fenomenalnej maszyny! Wiemy, że nie jest produkowana na masową skalę, ale należy ją docenić. W końcu potrafi jechać z prędkością 435 km/h.
 	</p>
 </article>
{% endblock %}
