{% extends 'base.html.twig' %}

{% block body %}
<h1> Shelby Supercars Ultimate Aero</h1>
 <article>
 	<h2>Krótki opis: </h2>
 	<p>
 		 Wykonany niemal w całości z włókna węglowgo SSC Ultimate Aero miał za zadanie pobić Veyrona. I udało mu się tego dokonać w 2007 roku. Amerykański pocisk o charakterystycznym designie osiągnął prędkość 413 km/h zapisując się do Księgi Rekordów Guinnessa.
		 Samochód napędza 6.3-litrowe V8 podwójnie turbodoładowane. Jednostka w 2007 roku rozwijała 1183 KM, co przy masie 1247 kg stawiało SSC w znacznie dogodniejszej pozycji od Veyrona. Ponadto firma opracowała wraz z Michelinem specjalne opony do modelu, aby móc pojechać tak szybko.
 	</p>
 </article>
{% endblock %}
